H1 { color: #993d00; }
Body {
    background-color: #fff0e6;
    color: #6e2c00 
}

/*Link styling*/
#resumeLink {
    padding: 5px;
    border: 5px solid lightbrown;
    background-color: #fff0e6;
    margin: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
}
